<%= form_with(model: interest_point, local: true) do |form| %>
  <% if interest_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest_point.errors.count, "error") %> prohibited this interest_point from being saved:</h2>

      <ul>
      <% interest_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
