<h1><%= t("field_form.edit_register", deep_interpolation: true, element: t("field_form.interest_point"), regist: @interest_point.name) %></h1>
<%= render 'form', interest_point: @interest_point %>
<%= link_to t("general.back"), interest_points_path %>


