<ul class="vertical menu" data-accordion-menu>
  <li><a class="admin-sidebar-list-item" href="#"><i class="fi-torso"></i> <span>Gestión de Usuarios</span></a></li>

  <li><a class="admin-sidebar-list-item" href="#"><i class="fi-torsos-all"></i> <span>Gestión de Unidades Tramitadoras</span></a></li>

  <li>
    <a class="admin-sidebar-list-item" href="#"><i class="fi-first-aid"></i> <span>Gestión de Incidencias</span></a>
    <ul class="menu vertical nested">
      <li><a class="admin-sidebar-list-item" href="#"><i class="fi-folder"></i> <span>Listado de Tipos de Incidencias</span></a></li>
      <li><a class="admin-sidebar-list-item" href="#"><i class="fi-marker"></i> <span>Listado de Incidencias</span></a></li>
    </ul>
  </li>

  <li><a class="admin-sidebar-list-item" href="#"><i class="fi-comment-quotes"></i> <span>Gestión de Noticias</span></a></li>

  <li>
    <a class="admin-sidebar-list-item" href="#"><i class="fi-web"></i> <span>Gestión de la Web</span></a>
    <ul class="menu vertical nested">
      <li><a class="admin-sidebar-list-item" href="#"><i class="fi-background-color"></i> <span>Personalización de Textos</span></a></li>
      <li><a class="admin-sidebar-list-item" href="#"><i class="fi-photo"></i> <span>Personalización de Imágenes</span></a></li>
    </ul>
  </li>
</ul>