<header>
  <div class="row back-link-row">
    <div class="large-12 columns">
      <% if staff_signed_in? %>
        <%= link_to t("general.start.log_out", deep_interpolation: true, username: current_staff.username), destroy_staff_session_path, method: :delete, class: 'back-link' %>
      <% else %>
        <%= link_to t("general.start.log_in"), new_staff_session_path, method: :get, class: 'back-link' %>
      <% end %>
    </div>
  </div>
  <div class="row admin-home-row">
    <div class="large-12 columns">
      <%= link_to raw(t("general.start.text_admin_home")), authenticated_root_path, class: 'admin-home-link' %>
    </div>
  </div>
</header>