<h1><%= t("field_form.edit_register", deep_interpolation: true, element: t("field_form.news"), regist: @news.title) %></h1>
<%= render 'form', news: @news %>
<%= link_to t("general.back"), news_index_path %>