<h3><%= t("field_form.edit_register", deep_interpolation: true, element: t("field_form.incidence_type"), regist: @incidence_type.code) %></h3>
<%= render 'form', incidence_type: @incidence_type %>
<%= link_to t("general.back"), incidence_types_path %>