<div class="grid-container">
  <div class="grid-x small-offset-10 medium-offset-10 large-offset-10">
      <div class="cell">
        <%= link_to "Nuevo Tipo", new_incidence_type_path, class: "button success" %>
      </div>
  </div>
  
  <div class="grid-x grid-margin-x">
    <%= render 'table_incidence_type' %>
  </div>
</div>