<h1>Editando Seguimiento nº <%= @incidence_tracking.id %>, de la incidencia <%= @incidence.id %>.</h1>
<%= link_to "Volver", incidence_path(@incidence) %>

<%= render 'form', incidence_tracking: @incidence_tracking %>

