<h3><%= t("field_form.edit_register", deep_interpolation: true, element: t("field_form.processing_unit"), regist: @processing_unit.code) %></h3>
<%= render 'form', processing_unit: @processing_unit %>
<%= link_to t("general.back"), processing_units_path %>
