<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-3 medium-up-4 large-up-6">
    <div class="cell">
      <label>
        Código
        <input type="text" placeholder="Código">
      </label>
    </div>

    <div class="cell">
      <label>
        Descripción
        <input type="text" placeholder="Descripción">
      </label>
    </div>

    <div class="cell medium-offset-3 large-offset-6">
      <a class="button success" href="#">Nueva Unidad</a>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <table class="hover">
      <thead>
        <tr>
          <th width="50">Código</th>
          <th width="200">Descripción</th>
          <th width="50">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PAR</td>
          <td>Participación Ciudadana</td>
          <td>
            <div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-3">
              <div class="cell">
                <a class="button primary" href="#">Detalles</a>
              </div>
              <div class="cell">
                <a class="button alert" data-open="ModalEliminar1">Eliminar</a>
                <div class="small reveal" id="ModalEliminar1" data-reveal>
                  <h3 class="text-center">¿Estás seguro de querer eliminar esta unidad tramitadora?</h3>
                  <div class="grid-x">
                    <div class="cell large-2 medium-2 small-2 large-offset-2 mediun-offset-2 small-offset-2">
                      <a class="button success" type="button" data-close>Aceptar</a>
                    </div>
                    <div class="cell large-2 medium-2 small-2 large-offset-3 mediun-offset-3 small-offset-3">
                      <a class="button alert" type="button" data-close>Cancelar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>