<h3><%= t("field_form.new_register", deep_interpolation: true, element: t("field_form.processing_unit")) %></h3>
<%= render 'form', processing_unit: @processing_unit %>
<%= link_to t("general.back"), processing_units_path %>